{
	ocsp_stapling off
}

*.home.giodamelio.com {
	tls certs@giodamelio.com {
		dns route53 {
			max_retries 10
			aws_profile "default"
		}
	}

	{{range $container := .}}
	{{range $network := $container.Networks}}
	{{if eq $network.Name "shared"}}
	# {{$container.Name}}
	@{{$container.Name}} host {{$container.Name}}.home.giodamelio.com
	handle @{{$container.Name}} {
		{{if (and $container.Labels.ProxyPort $container.Labels.ProxyHttps)}}
		reverse_proxy https://{{$network.IP}}:{{$container.Labels.ProxyPort}}
		{{else if $container.Labels.ProxyPort}}
		reverse_proxy {{$network.IP}}:{{$container.Labels.ProxyPort}}
		{{else if $container.Labels.ProxyHttps}}
		reverse_proxy https://{{$network.IP}}
		{{else}}
		reverse_proxy {{$network.IP}}
		{{end}}
	}

	{{if $container.Labels.ProxyAdditionalHost}}
	# additional host for {{$container.Name}}
	@{{$container.Name}}-additional host {{$container.Labels.ProxyAdditionalHost}}
	handle @{{$container.Name}}-additional {
		{{if $container.Labels.ProxyAdditionalPort}}
		reverse_proxy {{$network.IP}}:{{$container.Labels.ProxyAdditionalPort}}
		{{else}}
		reverse_proxy {{$network.IP}}
		{{end}}
	}
	{{end}}

	{{end}}
	{{end}}
	{{end}}

	# Fallback for otherwise unhandled domains
	handle {
		respond "Route not found" 404
	}
}
