{
	ocsp_stapling off
}

(tls) {
	tls certs@giodamelio.com {
		dns route53 {
			max_retries 10
			aws_profile "default"
		}
	}
}

test.home.giodamelio.com {
	import tls

	reverse_proxy test:80
}

gitlab.home.giodamelio.com {
	import tls

	reverse_proxy gitlab:80
}

home.giodamelio.com {
	import tls

	reverse_proxy dashy:80
}

homer.home.giodamelio.com {
	import tls

	reverse_proxy homer:8080
}

*.minio.home.giodamelio.com, minio.home.giodamelio.com {
	import tls

	reverse_proxy minio:9001
}

keycloak.home.giodamelio.com {
	import tls

	reverse_proxy keycloak:8080
}

cockpit.home.giodamelio.com {
	import tls

	# Have to hardcode the IP address (eww) because cockpit is run on the host, not as a docker container
	reverse_proxy 10.0.0.192:9090
}

# When an unknown host is sent
:80 {
	respond "Not Found" 404
}
